#react {
  color: #61dafb;
}
#js {
  color: #f0db4f;
}
#ts {
  color: #007acc;
}
#git {
  color: #f1502f;
}
#mysql {
  color: rgb(57, 170, 196);
}
#nodejs {
  color: #3c873a;
}
#tailwind {
  color: #4cb1e7;
}
#redux {
  color: #764abc;
}
#css {
  color: #2965f1;
}
#firebase {
  color: #ffa611;
}
#rtl {
  color: red;
}
#mongo {
  color: #3fa037;
}
#boot {
  color: #8058bd;
}
#cypr {
  color: rgb(206, 186, 186);
}
#jira {
  color: #0052cc;
}
#sass {
  color: pink;
}
